/* Dan Hogan */
/* Robot App */
/* For Genie Junior Developer application */
/* Last edited: 09/01/17 */

body {
	font-family: sans-serif;
}
#gameContainer {
	width: 500px;
	margin: 10px auto;
}
#gameControls {
	border: 2px solid #a32b2b;
}
#gameTestInput {
	border: 2px solid black;
	margin-top: 50px;
}

/* game controls/buttons */
button {
	margin: 5px;
	padding: 10px 15px;
	border: none;
    color: white;
    background-color: #666666;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}
button:hover {
	cursor: pointer;
	background-color: #424242;
}
button:disabled {
	cursor: not-allowed;
	color: grey;
    background-color: #e7e7e7;
}
.gameButtonRed {
	color: white;
	background-color: #f44336;
}
.gameButtonBlue {
	color: white;
	background-color: #008CBA;
}
.gameButtonGreen {
	color: white;
	background-color: #4CAF50;
}
.green {
	color: #4CAF50;
	display: inline;
}